{
	"extends": [
		"airbnb-base",
	],

	"env": {
		"browser": true,
		"es6": true
	},

	"rules": {
		"no-console": 0,
		"no-tabs": 0,
		"no-multiple-empty-lines": 0,
		"no-array-index-key": 0,
		"no-unused-vars": 1,

		"indent": ["error", "tab"],
		"comma-dangle": [1, "only-multiline"],
		"no-underscore-dangle": 0,
		"arrow-body-style": 0,
		"arrow-parens": 0,
		"quotes": 0,
		"object-curly-spacing": 0,
	}
}
